.hero {
    height: 100vh;
    background: linear-gradient(to right, #1f1c2c, #928dab);
}
.card{
    border: none;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
}
h2{
    background: linear-gradient(to right, red, rgb(123, 122, 122));
}
.navbar-link{
    font-weight: bold;
    letter-spacing: 1px;
}
.navbar-link:hover{
    color: #ffc107;
}
footer{
    font-size: 0.9rem;
}